.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 5rem;
    width: 90%;
    height: 100%;
    padding: 0 1rem;
}
  
  .title {
    color: black;
    padding-left: 2rem;
}
